@use './styles/reset';
@use './styles/typography';
@use './styles/variables';

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

h4 {
  box-shadow: inset 0px 0px #fff;
  color: variables.$accent-color;
}
